<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
<handlers>
<add name="Python FastCGI"
path="*"
verb="*"
modules="FastCgiModule"
scriptProcessor="D:\project\birthdayGift\birthdayGift\wfastcgi.py"
resourceType="Unspecified"
requireAccess="Script"/>
</handlers>
</system.webServer>
<appSettings>
<add key="PYTHONPATH" value="D:\project\birthdayGift\birthdayGift"/>
<!-- The handler here is specific to Bottle; see the next section. -->
<add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()"/>
<add key="DJANGO_SETTINGS_MODULE" value="D:\project\birthdayGift\birthdayGift\birthdayGift\appSettings.py" />
</appSettings>
</configuration>